body{
	background: #CCC;
	margin: 0;
}
header{
	width: 100%;
	background: #DDD;
	padding: 5px;
}
h1{
	margin: 0;
	text-align: center;
}
main{
	padding:30px;
}
.credits{
	text-align: center;
}
.space{
	width: 15%;
	position: relative;
	height: 500px;
	float: left;
}
.here-things-happens{
	position: relative;
	width: 70%;
	height: 500px;
	float: left;
}
.inputs{
	position: absolute;
    width: 40px;
}
.inputs > input{
	width: 100%;
	margin: 0;
	border-radius: 10px;
	padding:0 5px;
}
#top-left-y{
	left: -10px;
}
#bottom-left-y{
	left: -10px;
	bottom: 0;
}
#top-right-y{
	right: 0;
}
#bottom-right-y{
	right: 0;
	bottom: 0;
}
#top-left-x{
	left: 50px;
	top: -25px;
}
#bottom-left-x{
	left: 50px;
	bottom: -25px;
}
#top-right-x{
	right: 65px;
	top: -25px;
}
#bottom-right-x{
	right: 65px;
	bottom: -25px;
}
#copy-paste{
	margin: 0 50px;
	background: #FFF;
	height: 100%;
	border: 1px solid;
}
#codigo{
	padding: 40px;
}

